@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
  margin: 0;
}
a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

a:hover {
  background: rgba(0, 0, 0, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
}

.left_container .container {
  padding-left: 45px;
}
.right_container {
  margin-left: 80px;
}

.container {
  display: flex;
  align-items:center;
}
.container1, .container2 {
  margin: 10px;
}

.container3 {
  margin-left: 0px;
}

.container4 {
  margin-left: 200px;

}

.container7 {
  cursor: pointer;
  position:relative;
  display:block;

 #message {
  display: none;
  background-color: lightgreen;
  color: #001001;
  padding: 10px;
  margin-top: 10px;
  /* border: 10px solid #d639c6; */
  border-radius: 5px;
}

.container8 {
  margin-left: 40px;
}
}